html, body {
    position: relative;
    width: 100%;
    height: 100%;
    background: #ffffff;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

main {
    position: relative;
    width: 100%;
    height: auto;
    margin: 50px 0;
    float: left;
}

main>section.produtos {
    position: relative;
    width: 90%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}

main>section.produtos>.produto {
    box-sizing: border-box;
    position: relative;
    width: 33.33%;
    min-width: 248px;
    height: 350px;
    margin: 0 auto;
    float: left;
}

section.produtos .cartao {
    position: relative;
    height: 330px;
    width: 220px;
    margin: 10px auto;
    /* background-image: url(https://estacaodamodastore.vteximg.com.br/arquivos/ids/164868-512-681/Vestido-Listras-Serena1.jpg?v=636706397698430000); */
    background-size: cover;
    background-position: center center;
}

section.produtos .cartao>.controles {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    opacity: 0;
    transition: linear all 500ms;
    cursor: pointer;
    overflow: hidden;
}

section.produtos .cartao >.controles:hover {
    opacity: 1;
}

section.produtos .coracao {
    color: #ffffff;
    position: absolute;
    font-size: 12px;
    left: -20px;
    top: 18px;
    opacity: 0.3;
    transition-duration: 500ms;
    transform: scale(0.3);
}

.cartao > .controles:hover > .coracao {
    left: 20px;
    opacity: 1;
    transform: scale(1);
}

.controles > .tamanhos  {
    position: absolute;
    width: 100px;
    height: 30px;
    left: calc(50% - 50px);
    bottom: 80px;
}

.controles > .tamanhos > div {
    position: relative;
    width: 30px;
    height: 30px;
    background: #ffffff;
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    transition-duration: 200ms; 
}

.controles > .tamanhos > div:nth-child(1), 
.controles > .tamanhos > div:nth-child(2) {
    margin-right: 5px;
}

.controles > .tamanhos > div:hover {
    transform: rotate(45deg);
    background-color: #e1bee7;
}