#cartao1 {
    background-image: url(https://estacaodamodastore.vteximg.com.br/arquivos/ids/164868-512-681/Vestido-Listras-Serena1.jpg?v=636706397698430000);
}
#cartao1:hover {
    background-image: url(https://estacaodamodastore.vteximg.com.br/arquivos/ids/168395-512-681/Vestido-Listras-Graziele1.jpg?v=636772748472100000);
}
#cartao2 {
    background-image: url(https://estacaodamodastore.vteximg.com.br/arquivos/ids/164547-512-681/Vestido-Longo-Luiza1.jpg?v=636698332428330000);
}
#cartao2:hover {
    background-image: url(https://estacaodamodastore.vteximg.com.br/arquivos/ids/165280-512-681/Vestido-Longo-Listracor1.jpg?v=636718269890330000);
}
#cartao3 {
    background-image: url(https://estacaodamodastore.vteximg.com.br/arquivos/ids/168790-512-681/Vestido-Viscose-Katarina-Preto1.jpg?v=636784257429600000);
}
#cartao3:hover {
    background-image: url(https://estacaodamodastore.vteximg.com.br/arquivos/ids/168875-512-681/Vestido-Viscose-Katarina-Off3.jpg?v=636785665561670000);
}
#cartao4 {
    background-image: url(https://estacaodamodastore.vteximg.com.br/arquivos/ids/177369-512-681/Vestido-Crepe-Bruna-Rose2.jpg?v=636961352513200000);
}
#cartao4:hover {
    background-image: url(https://www.galaxcommerce.com.br/sistema/upload/295/sobreescrita/vestido-crepe-bruna_2019-06-10_20-11-53_1.jpg);
}
#cartao5 {
    background-image: url(https://estacaodamodastore.vteximg.com.br/arquivos/ids/177108-512-681/Vestido-Ombro-a-Ombro-Nescau1.jpg?v=636957910037900000);
}
#cartao5:hover {
    background-image: url(https://estacaodamodastore.vteximg.com.br/arquivos/ids/177109-512-681/Vestido-Ombro-a-Ombro-Nescau2.jpg?v=636957910150400000);
}
